# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# Go
vendor/
bin/
obj/

# IDE
*.iml
.idea/
.vscode/
*.swp
*.swo
*~

# Database
*.db
*.sqlite
*.sqlite3
backend/tmp
.trae
backend/public
backend/server
frontend/node_modules

docs/*
!docs/requiement.md
!docs/图片生成文档.md
frontend/VITE_UPGRADE_GUIDE.md
frontend/package.json.v5.backup
frontend/UPGRADE_GUIDE.md
.dropstone
backend/cmd/server/logs
backend/main
